<div class="main-content">
    <h1>Utilisateurs ({{users.length}})</h1>
    <button class="buttonBlue" id="addStudent" [routerLink]="['/add-users']">+ Nouveau utilisateur</button>
    <table>
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Date de creation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.pseudo}}</td>
                <td>{{user.creationDate}}</td>
                <td>
                    <button class="buttonOrg" [routerLink]="['/add-users']">Modifier</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>