<div class="main-content">
    <h1>Élèves (2)</h1>
    <button class="buttonBlue" [routerLink]="['/add-student']" id="addStudent">+ Nouvel élève</button>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Genre</th>
                <th>Classe</th>
                <th>Matricule</th>
                <th>Âge</th>
                <th>Téléphone</th>
                <th>Villes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>KOFFI</td>
                <td>George</td>
                <td>M</td>
                <td>1ère C</td>
                <td>GDJ7GDGD</td>
                <td>18</td>
                <td>0123456789</td>
                <td>Bonoua</td>
                <td>
                    <button [routerLink]="['/add-student']" class="buttonOrg">Modifier</button>
                    <button onclick="showConfirmationPopup()" class="buttonRed">Supprimer</button>
                </td>
            </tr>
            <tr>
                <td>KONE</td>
                <td>Solal</td>
                <td>F</td>
                <td>2nd C</td>
                <td>GDJ7GDGD</td>
                <td>22</td>
                <td>0123456789</td>
                <td>Abidjan</td>
                <td>
                    <button [routerLink]="['/add-student']" class="buttonOrg">Modifier</button>
                    <button (click)="showConfirmationPopup()" class="buttonRed">Supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <div *ngIf="popupVisible" id="confirmationPopup" class="popup">
    <div class="popup-content">
        <h2>ATTENTION !!!</h2>
        <p>Voulez-vous supprimer cet élève ?</p>
        <div class="popup-buttons">
            <button id="cancelBtn" class="btn">Non</button>
            <button id="confirmBtn" class="btn">Oui</button>
        </div>
    </div>
</div> -->

<div *ngIf="popupVisible" id="confirmationPopup" class="popup">
    <div class="popup-content">
        <h2>ATTENTION !!!</h2>
        <p>Voulez-vous supprimer cet élève ?</p>
        <div class="popup-buttons">
            <button (click)="hideConfirmationPopup()" class="btn">Non</button>
            <button (click)="hideConfirmationPopup()" class="btn">Oui</button>
        </div>
    </div>
</div>