<div class="main-content">
    <h1>Élèves ({{ students.length }})</h1>
    <button class="buttonBlue" [routerLink]="['/add-student']" id="addStudent">+ Nouvel élève</button>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Genre</th>
                <!-- <th>Classe</th> -->
                <th>Matricule</th>
                <th>Âge</th>
                <th>Téléphone</th>
                <th>Villes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.gender }}</td>
                <!-- <td>{{ student.class }}</td> -->
                <td>{{ student.matricule }}</td>
                <td>{{ student.birthday }}</td>
                <td>{{ student.phoneNumber }}</td>
                <td>{{ student.address?.city }}</td>
                <td>
                    <button [routerLink]="['/add-student', student.id]" class="buttonOrg">Modifier</button>
                    <button (click)="confirmDelete(student)" class="buttonRed">Supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal de confirmation -->
<div class="modal fade" tabindex="-1" [ngClass]="{'show': isConfirmModalVisible}" [ngStyle]="{'display': isConfirmModalVisible ? 'block' : 'none'}" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmer la suppression</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="closeConfirmModal()"></button>
        </div>
        <div class="modal-body">
          <p>Êtes-vous sûr de vouloir supprimer cet élément ? Cette action est irréversible.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeConfirmModal()">Annuler</button>
          <button type="button" class="btn btn-danger" (click)="deleteStudent()">Confirmer</button>
        </div>
      </div>
    </div>
  </div>
