<div class="main-content-form">
    <a href="/teachers" class="back-button">
        <span class="arrow">←</span>
        <h3>Retour</h3>
    </a>
    <h1>{{ teacher ? ' Ajouter un Professeur' : ' Modifier Le Professeur'}}</h1>
    <form [formGroup]="form" (ngSubmit)="saveData()" class="form-ajout">
        <div class="left-section">
            <div class="form-group">
                <label for="nom">Nom</label>
                <input formControlName="firstName" [class.is-invalid]="isInvalidateInput(form.controls['firstName'])" type="text" id="nom" name="firstName" required>
                <small style="color: red;" *ngIf="isInvalidateInput(form.controls['firstName'])">
                    Le Nom est requis !
                </small>
            </div>

            <div class="form-group">
                <label for="prenom">Prénom</label>
                <input formControlName="lastName" [class.is-invalid]="isInvalidateInput(form.controls['lastName'])" type="text" id="prenom" name="lastName" required>
                <small style="color: red;" *ngIf="isInvalidateInput(form.controls['lastName'])">
                    Le Prenom est requis !
                </small>
            </div>

            <div class="form-group">
                <label>Genre</label>
                <div class="radio-group">
                    <input formControlName="gender" 
                           [class.is-invalid]="isInvalidateInput(form.controls['gender'])" 
                           type="radio" 
                           id="homme" 
                           name="gender" 
                           value="MAN" 
                           required>
                    <label for="homme">Homme</label>
            
                    <input formControlName="gender" 
                           [class.is-invalid]="isInvalidateInput(form.controls['gender'])" 
                           type="radio" 
                           id="femme" 
                           name="gender" 
                           value="WOMAN" 
                           required>
                    <label for="femme">Femme</label>
                </div>
                <small style="color: red;" *ngIf="isInvalidateInput(form.controls['gender'])">
                    Le genre est requis !
                </small>
            </div>


            <div class="form-group">
                <label for="date-naissance">Date de naissance</label>
                <input formControlName="birthday" [class.is-invalid]="isInvalidateInput(form.controls['birthday'])" type="date" id="date-naissance" name="birthday" required>
                <small style="color: red;" *ngIf="isInvalidateInput(form.controls['birthday'])">
                    La Date de Naissance est requise !
                </small>
            </div>
        </div>

        <div class="right-section">
            <div class="form-group">
                <label for="speciality">Sélectionner une Matière</label>
                <select
                  id="matiere"
                  formControlName="speciality"
                  [class.is-invalid]="isInvalidateInput(form.controls['speciality'])"
                  required name="speciality"
                >
                  <option value="Informatique">Informatique</option>
                  <option value="I.Artificiel">I.Artificiel</option>
                  <option value="Robotique">Robotique</option>
                  <option value="Big Data">Big Data</option>
                </select>
              </div>

              <div class="form-group">
                <label for="telephone">Téléphone</label>
                <input formControlName="phoneNumber" [class.is-invalid]="isInvalidateInput(form.controls['phoneNumber'])" type="tel" id="telephone" name="phoneNumber" required>
                <small style="color: red;" *ngIf="isInvalidateInput(form.controls['phoneNumber'])">
                    Le Numero de telephone est requis !
                </small>
            </div>

            <div class="form-group">
                <label for="ville">Ville</label>
                <input type="text" id="ville" name="ville" required>
            </div>
        </div>
        <div class="buttons">
            <button [routerLink]="['/teachers']" type="reset" class="btn btn-danger">Annuler</button>
            <button type="submit" class="btn btn-success">Enregistrer</button>
        </div>
    </form>
</div>