  
   <div class="login-container">
        <form method="post" id="loginForm">
            <img src="assets/logo-monEtab.png" alt="Mon Etab Logo">
            
            <h1>Mon Etab</h1>
            <div class="input-group">
                <label for="username">Identifiant</label>
                <input placeholder="Username" type="text" id="username" name="username">
            </div>
            <div class="input-group">
                <label for="password">Mot de passe</label>
                <input placeholder="Password"  type="password" id="password" name="password">
            </div>
            <button routerLink="/home" class="buttonBlue" type="submit">Connexion</button>
        </form>
    </div>
